:root {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #89cfd9;
}

.outer {
    margin: 0 auto;
    height: 800px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

li {
    list-style-type: none;
}

#start {
    margin-top: 10px;
}

.playerTurn {
    font-size: 24px;
    font-weight: 500;
    padding: 15px;
    border: 5px solid whitesmoke;
    border-radius: 15px;
    margin-bottom: 10px;
}

.board {
    display: grid;
    height: 500px;
    width: 500px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: 3px;
    border-radius: 25px;
    /*background-color: lightgray;*/
}

h1 {
    font-size: 48px;
}